.venv/
__pycache__/
*.pyc
.DS_Store
.qodo/
*.log

.vscode/
3 - MANUSCRITO/1-MARKDOWN/3-SCRIPTS/out/

3 - MANUSCRITO/1-MARKDOWN/1-MANUSCRITOS/Hidrorretentor_Taboa_08012025.docx

*.ai

5 - FIGURAS/2 - ARTIGO CRESCIMENTO VEGETAL/Figura 2.ai
